@media (max-width:1200px) {
    .container{
        max-width: 960px;
    }
}
@media (max-width:992px) {
    .container{
        max-width: 720px;
    }
    .header__title{
        font-size: 67px;
    }
    .header__desc{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-align: center;
    }
}
@media (max-width:768px) {
    .container{
        max-width: 540px;
    }
    .menu{
        visibility: hidden;
        position: absolute;
        flex-direction: column;
        top: 65px;
        right: 20px;
        background: rgba(0, 0, 0, 0.6);
        max-width: 200px;
        width: 100%;
    }
    .menu__link{
        display: block;
        height: 50px;
    }
    .menu__icon{
        display: block;
    }
    .menu__icon:focus ~ .menu {
        visibility: visible;
    }
    .header__buttons{
        flex-direction: column;
        align-items: center;
    }
    .main__desc{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        overflow: hidden;
    }
    .map__title{
        font-size: 35px;
    }
    .footer__content{
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    .footer__menu{
        margin-top: 0;
    }
    .footer__link{
        margin-left: 0;
        margin-right: 10px;
    }
}